
table {
  border-top: 1px solid #222;
  border-left: 1px solid #222;
  border-collapse: collapse;
}

th,
td { 
  border-bottom: 1px solid #222;
  border-right: 1px solid #222;
  padding: 4px 8px 3px 8px;
}

th {
  background-color: #ddd;
  text-align: left;
  border-bottom: 2px solid #222;
}

td:nth-child(3) {
  text-align: right;
}

tr:nth-child(odd) {
  background-color: #eee;
}

/* table,
th,
td {
  border: 1px double #222;
  border-collapse: collapse;
} */
